@page
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
    <link href='~/css/chat.css' rel='stylesheet' />
    @*<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />*@


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 320px;
            width: calc(100% - 320px);
            z-index: -500;
        }

        #chat {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 320px;
        }

        /* #chat {
            position: absolute;
            left: 0;
            top: 0;
            width: 20%;
        } */
    </style>
    <script>
        var JSON_URL = "@ViewData["url"]";
    </script>
</head>

<body>
    <div id='chat'>

        <div class="wrapper">
            <!-- <nav class="nav" id="nav">
                <div class="default-nav">
                    <div class="main-nav">
                        <div class="toggle"></div>
                        <div class="main-nav-item"><a class="main-nav-item-link" href="#">Blake</a></div>
                        <div class="options"></div>
                    </div>
                </div>
            </nav> -->
            <div class="inner" id="inner">
                <div class="content" id="content"></div>
            </div>
            <div class="bottom" id="bottom">
                <textarea class="input" id="input" placeholder="Enter query..."></textarea>
                <div class="send" id="send"></div>
            </div>
        </div>
    </div>
    <div id='map'></div>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src='~/js/map.js'></script>
    <script src='~/js/chat.js'></script>
    <script src="~/js/updater.js"></script>
</body>

</html>